
__pycache__
.ipynb_checkpoints
Aufgabenblatt 1/.ipynb_checkpoints
Aufgabenblatt 2/.ipynb_checkpoints
Aufgabenblatt 3/.ipynb_checkpoints
Aufgabenblatt 4/.ipynb_checkpoints
Aufgabenblatt 5/.ipynb_checkpoints
Aufgabenblatt 6/.ipynb_checkpoints
Aufgabenblatt 7/.ipynb_checkpoints
